<div class="container m-5">
    <h1 class="text-light fs-5">Hello <%= current_user.first_name %>, when do you want to book <%= @pokemon.name %>?</h1>
  <div class="row">
    <div class="col-sm-4 card m-5">
      <img src="<%= @pokemon.image_url %>" alt="Booked Pokemon image">
    </div>

    <div class="col-sm-4 card m-5">
      <%= simple_form_for([@pokemon, @booking], data: { controller: "flatpickr", flatpickr_dates_value: @pokemon.flatpickr_booked_dates_object } ) do |f| %>
        <%= f.input :start_date, label: false, as: :string, input_html: { class: "d-none", data: { flatpickr_target: 'startInput' } } %>
        <%# <%= f.input :end_date, label: false, as: :string, input_html: { class: "d-none", data: { flatpickr_target: 'endInput' } }  %>
        <%= f.submit 'Book now!', class: 'btn btn-primary' %>
      <% end %>
    </div>

  </div>
</div>
