<div class="container m-5">
  <div class="row">
    <p class="text-light fs-5">Your booking for <%= @booking.pokemon.name %> on <%= @booking.date %> is confirmed!</p>
    <div class="col-sm-4 card m-5">
      <img src="<%= @booking.pokemon.image_url %>" alt="Booked Pokemon image">
    </div>
    <div class="col-sm-6">
      <%= link_to "Delete", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary"%>
      <%= link_to "Edit", edit_booking_path(@booking), class:"btn btn-primary"%>
      <%= link_to "My bookings", "/bookings", class:"btn btn-primary"%>
    </div>
  </div>
</div>
