<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="user-card">
        <img src="https://img-31.ccm2.net/9xEwDU0yhhMnvwZs9iWag2FbX7Y=/1240x/smart/3b10757e825b4d4dbf226502493f33b4/ccmcms-hugo/10557733.jpg" alt="">
        <p>Bonjour <%= @user.username %></p>
        <p>Ton total de points <b>attaque</b> est: <%= @my_team_attack_points %> </p>
        <p>Ton total de points <b>défense</b> est: <%= @my_team_defense_points %></p>
      </div>
      <br>
        <h2>Ton <strong>équipe</strong>
          <%= link_to team_path(current_user.id) do %>
            <div class="btn btn-flat">Edit <i class="fa-regular fa-pen-to-square"></i></div>
          <% end %>
        </h2>
        <div class="team-card">
        <% @my_team.each do |pokemon| %>
          <%= link_to pokemon_path(pokemon) do %>
            <div class="list-inline-item">
              <div class="team-card-element">
                <img src="<%= pokemon.image_url %>" alt="Booked Pokemon image">
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
    </div>

    <div class="col-sm-6 ms-4">
      <div>
        <div class="mt-4">
          <h2>Tes <strong>réservations</strong>
            <%= link_to "/bookings" do %>
              <div class="btn btn-flat">Edit <i class="fa-regular fa-pen-to-square"></i></div>
            <% end %>
          </h2>
        </div>
          <% @my_bookings.each do |booking| %>
            <div class="booking-card">
              <img src="<%= booking.pokemon.image_url %>" alt="Booked Pokemon image">
              <h5>Réservé pour le <%= booking.start_date %></h5>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
