
          <div class="card" ">
            <%= image_tag pokemon.image_url %>
            <div class="card-header d-flex justify-content-between">
              <div class="header-left">
                <h5 class="card-title"><%= pokemon.name%></h5>
                <h6 class="card-subtitle mb-2 text-muted">#<%= pokemon.id%></h6>
                <p class="d-inline">
                  <% type1 = I18n.transliterate(pokemon.type1).downcase  %>
                  <span class="<%= type1 %>"><%= pokemon.type1.upcase %></span>
                </p>
                <p class="d-inline">
                  <% if pokemon.type2.nil? %>
                    <% type2 = "d-inline" %>
                  <% else %>
                    <% type2 = I18n.transliterate(pokemon.type2).downcase  %>
                  <% end %>
                  <span class="<%= type2 %>"><%= pokemon.type2.nil? ? "" : pokemon.type2.upcase %></span>
                </p>
              </div>
              <div class="header-right">
                <%= link_to pokemon do %>
                  <div class="btn button-grow"><i class="pokeball-3d"></i></div>
                <% end %>
              </div>
            </div>
          </div>
