<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.lemde.fr/2022/12/23/0/0/1920/1080/1920/0/75/0/884ebe7_1671792562779-legendes-pokemon-arceus-un-monde-ouvert-pas-si-legendaire-3711b09d-1920-1080-center.jpg);"> %>
<div class="banner" >
  <div class="container">
    <h1>Find your Pokemon !</h1>
    <p>Search or browse.</p>
    <%= form_with url: pokemons_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a pokemon by name or type"
      %>
      <%= submit_tag "Find them all", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Pokedex", pokemons_path, class: "btn btn-primary"%>
  </div>
</div>

<div class="cards">
  <div class="container mt-4 d-flex justify-content-around">
    <div class="row">
      <% @pokemons.sample(4).each do |pokemon| %>
        <div class="col-md-3">
          <%= render 'shared/card', pokemon: pokemon %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
