<div class="cards">
  <div class="container mt-4 d-flex justify-content-around">
    <div class="row">
      <% @pokemons.each do |pokemon| %>
        <div class="col-md-3">
          <div class="card" style="width: 18rem; ">
            <%= image_tag pokemon.image_url %>
            <div class="card-header d-flex justify-content-between">
              <div class="header-left">
                <h5 class="card-title"><%= pokemon.name%></h5>
                <h6 class="card-subtitle mb-2 text-muted">#<%= pokemon.id%></h6>
                <h6 class="card-subtitle mb-2 text-muted"><%= pokemon.type1%>
                    <% if pokemon.type2 %>
                      - <%= pokemon.type2%>
                    <% end  %>
                  </ul>
                </h6>
              </div>
              <div class="header-right">
                <%= link_to pokemon do %>
                  <div class="btn button-grow"><i class="pokeball-3d"></i></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
