<div class="cards">
  <div class="container mx-auto mt-4">
    <div class="row">
      <%= @pokemon.id %> - <%= @pokemon.name %>
        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <%= image_tag @pokemon.image_url %>
            <div class="card-body">
              <h5 class="card-title"><%= @pokemon.name%></h5>
              <h6 class="card-subtitle mb-2 text-muted">N°<%= @pokemon.id %></h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        <% if @pokemon.prev %>
        <%= link_to "Previous", pokemon_path(@pokemon.prev) %>
        <% end %>
        <% if @pokemon.next %>
        <%= link_to "Next", pokemon_path(@pokemon.next) %>
        <% end %>
        <%= link_to "Back to all pokemons", pokemons_path %>
        </div>
    </div>
  </div>
</div>
